


<h1>Dr. - <%= @doctor.full_name %></h1>
<h5><%= link_to "Edit |", edit_doctor_path %>
<%= link_to "Delete", doctor_path(@doctor), method: :delete %></h5>
<h3>Specialty - <%= @doctor.specialty %></h3>


<%= link_to "Make Appointment |", new_doctor_appointment_path(@doctor) %>
<%= link_to "View Appointments", doctor_appointments_path(@doctor) %>



