<!DOCTYPE html>
<html>
  <head>
  
    <title>Doctorapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>

  <div class="ui container">
  <%= render "layouts/navbar" %>
  <%= image_tag("caduceussmall.png", :alt => "cadeceus", class: "coolimage") %>

  </div>

  </header>

  <div class="ui container">
  
    <%= yield %>
    </div>
<footer>
   
    
</footer>
 
  </body>
</html>

